body, html{
  text-align: center;
  font-family: "Times New Roman";
  font-size: 25px;
}

#cluster_name{
  font-weight: bold;
}

#cluster_version{
  font-weight: bold;
}

.research-form{
  margin-bottom:50px;
  display: flex;
}

.result-item{
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 50px;
}
